<div class="container">
  <div class="row">
    <% cache(action: "index", action_suffix: "orders-count") do %>
      <div class="col-sm-12">
        <h1><%= @orders.count %> Orders</h1>
      </div>
    <% end %>
  </div>
  <div class="row"></div>
  <% cache(action: "index", action_suffix: "orders-index") do %>
    <% @orders.each do |order| %>
      <div class="col-sm-12">
        <h2>Order <%= order.id %></h2>
        <h5>Client: <%= order.user.name %></h5>
        <h5>Order Items</h5>
        <% order.items.each_with_index do |item, index| %>
          <p>
            <%= "#{index + 1}. #{item.name}" %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

